﻿<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Acme <span class="hidden-xs"> - Universida Del Valle <span class="hidden-xs"> - Calvos++</span> © 2021</span>
        </div>
       
    </div>
</div>