﻿
<input id="nombreCompleto" type="hidden" value="@ViewBag.nombreCompleto" />
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h2>Acme</h2>
    </div>
</div>



<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-id-0">
            </div>
        </article>
    </div>
    <div class="row text-center">
        <div class="col-xs-11 col-sm-offset-11 col-sm-11 col-md-offset-11 col-md-11 col-lg-offset-11 col-lg-11">
            <img src="~/Content/images/veterinaria.jpg" width="600" />
        </div>
    </div>

</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
   
        });
    </script>
}

